<div class='page__content page__content--center container'>
  <div class='container__row'>
    <div class="browse__controls__container container__col--offset--1 container__col--3">
      <div class='browse__categories'>
        <mat-form-field>
          <mat-label>Select a Category</mat-label>
          <mat-select (selectionChange)="selectCategory($event.value)">
            <mat-option value='words'>All Entries</mat-option>
            <mat-option *ngFor="let cat of displayCategories$ | async" [value]='cat'>
              {{cat}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class='browse__alphabet__container'>
        <mat-grid-list class='browse__alphabet__grid' cols="6" rowHeight="20px" rowWidth='20px' gutterSize='1px'>
          <mat-grid-tile class='browse__alphabet__letter' *ngFor="let letter of letters" [colspan]="1" [rowspan]="1">
            <button mat-button (click)='scrollTo(letter)'>{{letter}}</button>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
    <div class="browse__entries__container container__col--8">
      <div class="browse__entries" *ngIf="currentTen$ | async as currentTen">
        <mat-toolbar class='browse__toolbar'>
          <button color='accent' class='browse__nav browse__nav--left browse__nav--web color-white' mat-flat-button
            aria-label="See previous entries" (click)="prev10()">
            <mat-icon class='browse__nav--left--icon'>navigate_before</mat-icon>
            <span class='browse__nav--left--text'>Previous
            </span>
          </button>
          <button color='accent' class='browse__nav browse__nav--left browse__nav--mobile' mat-icon-button
            aria-label="See previous entries" (click)="prev10()">
            <mat-icon class='browse__nav--left--icon'>navigate_before</mat-icon>
          </button>
          <p class='browse__entries--progress'>showing entries {{ startIndex + 1 }} to
            {{ (currentTen$ | async)?.length }}
            of {{ (currentEntries$ | async )?.length }} </p>
          <button class='browse__nav browse__nav--right color-white browse__nav--web' color='accent' mat-flat-button
            aria-label="See following entries" (click)="next10()">
            <span class='browse__nav--right--text'>Next</span>
            <mat-icon class='browse__nav--right--icon'>navigate_next</mat-icon>
          </button>
          <button class='browse__nav browse__nav--right browse__nav--mobile' color='accent' mat-icon-button
            aria-label="See following entries" (click)="next10()">
            <mat-icon class='browse__nav--right--icon'>navigate_next</mat-icon>
          </button>
        </mat-toolbar>
        <entry-list [entries]='currentTen'></entry-list>
      </div>
    </div>
  </div>
</div>