@import '~@angular/material/theming';

@mixin mtd-search-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background-palette: map-get($theme, background);
  $foreground-palette: map-get($theme, foreground);

  .search {
    &__bar {
      &__container {
        background-color: mat-color($background-palette, background);
      }
    }
  }
}
