%matched {
  // background: map-deep-get($ui-colors, accent, color);
  // color: map-deep-get($ui-colors, accent, contrast);
  border-radius: em(5);
  font-weight: 900;
  padding: 3px;
}

.langMatched {
  @extend %matched;
}

.match {
  &__container {
    margin: 0 auto;
    height: auto;
    width: auto;
    text-align: center;
    // line-height: em(40);

    &--left {
      margin-right: 0.2em;
      text-align: left;
      display: inherit;
    }

    &--right {
      margin-left: 0.2em;
      display: inherit;
    }
  }

  &__term {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 8px 0;
    &__container {
      display: table;
    }
    &--target {
      margin: 2.5em 0 0.75em 0;

      &.langMatched {
        @extend %matched;
      }
    }

    &--translation {
      margin: 2.5em 0 0.75em 0;

      .langMatched {
        @extend %matched;
      }
    }
  }
}

.entry {
  &__audio {
    &__button {
      // color: map-deep-get($ui-colors, accent, color);
    }
    &__container {
    }
  }
}
