.chosen {
    background-color: map-deep-get($ui-colors, accent, color);
    color: map-deep-get($ui-colors, accent, contrast);
}

.browse {
    &__categories {}

    &__controls {
        &__container {}
    }

    &__alphabet {
        &__container {}

        &__grid {
            width: 95%;
            margin: 0 auto;
            list-style-type: none;
            margin: 15px 15px 25px 35px;
            padding: 0;
            overflow: hidden;
            background-color: lighten(map-deep-get($ui-colors, white, contrast), 15);
            opacity: 0.95;
            border-radius: 15px;
        }

        &__letter {
            display: block;
            color: map-deep-get($ui-colors, white, color);
            text-align: center;
            padding: em(5);
            text-decoration: none;
            float: left;
            cursor: pointer;
            border: em(1) solid map-deep-get($ui-colors, white, contrast)
        }
    }

    &__entries {
        @extend %results;
        min-height: 650px;

        &--progress {
            margin: 0 auto !important;
            font-size: smaller;
        }

        &__container {}
    }

    &__toolbar {}

    &__nav {

        &--web {
            @include mq(900px, 'max-width', 'screen') {
                display: none !important;
            }
        }

        &--mobile {
            @include mq(900px, 'min-width', 'screen') {
                display: none !important;
            }
        }


        &--left {

            width: 100px;

            &--icon {
                font-size: xx-large !important;
                position: absolute !important;
                left: 0 !important;
                top: 3px !important;
            }

            &--text {
                margin-left: 15px;


            }

        }

        &--right {
            width: 100px;

            &--icon {
                font-size: xx-large !important;
                position: absolute !important;
                right: 5px !important;
                top: 3px !important;
            }

            &--text {
                margin-right: 15px;
            }
        }
    }
}