.browse {
    &__categories {}

    &__controls {
        &__container {
        }
    }

    &__alphabet {
        &__container {}

        &__grid {
            width: 100%;
            margin: 0 auto;
        }

        &__letter {
            border: em(1) solid map-deep-get($ui-colors, black)
        }
    }

    &__entries {
        @extend %results;
        min-height: 650px;

        &--progress {
            margin: 0 auto !important;
            font-size: smaller;
        }

        &__container {

        }
    }

    &__toolbar {}

    &__nav {

        &--web {
            @include mq(900px, 'max-width', 'screen') {
                display: none !important;
            }
        }

        &--mobile {
            @include mq(900px, 'min-width', 'screen') {
                display: none !important;
            }
        }


        &--left {

            width: 100px;

            &--icon {
                font-size: xx-large !important;
                position: absolute !important;
                left: 0 !important;
                top: 3px !important;
            }

            &--text {
                margin-left: 15px;


            }

        }

        &--right {
            width: 100px;

            &--icon {
                font-size: xx-large !important;
                position: absolute !important;
                right: 5px !important;
                top: 3px !important;
            }

            &--text {
                margin-right: 15px;
            }
        }
    }
}