// Nav Items

%nav-content {
    // right: em(50);
    // top: em(14);
    margin-top: em(5);
    margin-right: em(20);
    font-size: em(map-get($font-sizes, lg));
    // position: absolute;
    z-index: 999;
    float: right;
}

%nav-item {
    position: relative;
    font-size: em(16);
    line-height: em(24);
    margin: 0 em(2);
    z-index: map-get($zindex, nav);
}

%nav-link {
    text-decoration: none;
    padding: em(5);

    &:hover {
        cursor: pointer;
    }

    font-family: $font-family-accent;
    font-weight: normal;
    z-index: map-get($zindex, nav);
}

%title {
    font-weight: 700;
}

%content-spacing {
    margin-top: 10vh;
}

%results {
    max-height: 45vh;
    overflow-y: auto;
    width: 70%;
    max-width: em(850);
    margin: 5vh auto;
    margin-bottom: em(150);
    border: em(2) solid rgba(map-deep-get($ui-colors, accent, color), .5);
    background: rgba(map-deep-get($ui-colors, accent, contrast), .5);
    border-radius: em(5);
}

%contrast-container {
    background: map-deep-get($ui-colors, primary, contrast);
    width: 50%;
    margin: em(40) auto;
    padding: em(5);
    border-radius: em(5);
    max-width: em(550);
}