.header {
    &__container {
        @extend %content-spacing;
        margin-bottom: em(15);
        width: 50%;

    }
    &__title {
        font-size: em(48);
        font-weight: 200;
        color: map-deep-get($ui-colors, white, color);
        letter-spacing: em(1);
    }
    &__subheader {
        color: map-deep-get($ui-colors, white, color);
        background: rgba(0,0,0,.5);
        padding: em(5);
        border-radius: em(5);
        display: inline-block;
        margin-top: 0;
    }
}