.nav-container {
    display: inline-flex;
    background: transparent;
    height: 6em;
    background: map-deep-get($ui-colors, white, color);
    &__subheader {
        left: em(35);
        top: em(80);
        font-size: em(12);
        position: absolute;
        z-index: map-get($zindex, nav);
    }
    &__content {
        @extend %nav-content;
        @include mq(em(map-get($breakpoints, medium)), 'max-width') {
            display: none;
        }
        &--mobile {
            top: em(30);
            right: em(20);
            @extend %nav-content;
            @include mq(em(map-get($breakpoints, medium)), 'min-width') {
                display: none !important;
            }
        }
    }
    &--scrolled {
        height: 5.5em;
        border-bottom: 2px solid red;
    }
}

.navbar {
    list-style: none;
    display: inline-flex;
    &__item {
        @extend %nav-item;
        &--active {
            margin-top: em(2);
            background: map-deep-get($ui-colors, black, color);
            a {
                color: map-deep-get($ui-colors, black, contrast);
            }
        }
    }

    &__link {
        @extend %nav-link;
    }

}

#lineDrawing {
    z-index: map-get($zindex, nav);
}