.search {
    &__icon {
        font-size: small;
        top: em(5);
        right: 0;
        margin-right: em(5);
    }

    &__bar {

        &__container {
            @extend %contrast-container
        }

        margin: 0 auto;
        width: em(500);
    }

    &__results {
        @extend %results;

        &--matches {}

        &--partMatches {}

        &--maybeMatches {}

        &--none {}

        &__container {}

        &__title {
            text-decoration: underline;
        }
    }

}