.audio {
    &__container {
        margin-bottom: em(15);
    }

    &__header {
        margin: 0;
        text-decoration: underline;
    }

    &__desc {}

    &__buttons {}

    &__button {
        color: map-deep-get($ui-colors, accent, contrast);
        background: map-deep-get($ui-colors, accent, color);

    }

    &__icon {
        margin-left: em(5);
        margin-right: em(-15);
        font-size: initial;
    }

}