<header id='main'></header>
<div class='nav-container vwidth-100'>
  <nav class="vwidth-100 height-30 bg-accent nav">
    <logo-anime class='ui-button'></logo-anime>
    <h4 class="nav-container__subheader"></h4>
    <div class="nav-container__content">
      <ul class="navbar navbar-nav">
        <li class="navbar__item" [routerLinkActive]="['navbar__item--active']">
          <a class="navbar__link" routerLink="search">Search</a>
        </li>
        <li class="navbar__item" [routerLinkActive]="['navbar__item--active']">
          <a class="navbar__link" routerLink="browse">Browse</a>
        </li>
        <li class="navbar__item" [routerLinkActive]="['navbar__item--active']">
          <a class="navbar__link" routerLink="random">Random</a>
        </li>
        <li class="navbar__item" [routerLinkActive]="['navbar__item--active']">
          <a class="navbar__link" routerLink="bookmarks">Bookmarks</a>
        </li>
        <li class="navbar__item" [routerLinkActive]="['navbar__item--active']">
          <a class="navbar__link" routerLink="flashcards">Flashcards</a>
        </li>
        <li class="navbar__item" [routerLinkActive]="['navbar__item--active']">
          <a class="navbar__link" routerLink="about">About</a>
        </li>
        |
        <li class="navbar__item">
          <a class="navbar__link" (click)="openSettings()">Settings</a>
        </li>

      </ul>
    </div>
    <button class="nav-container__content--mobile" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon aria-label="Show toolbar">menu</mat-icon>
    </button>
  </nav>
</div>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="search">Search</button>
  <button mat-menu-item routerLink="browse">Browse</button>
  <button mat-menu-item routerLink="random">Random</button>
  <button mat-menu-item routerLink="flashcards">Flashcards</button>
  <button mat-menu-item (click)="openSettings()">Settings</button>
  <button mat-menu-item routerLink="about">About</button>
</mat-menu>
<div id='main__container'>
  <router-outlet></router-outlet>
</div>