<div class='page__content page__content--center container'>
  <h1>Bookmarks</h1>
  <div class="results">
    <entry-list [entries]='bookmarks' [parentEdit]="edit"></entry-list>
    <div *ngIf="bookmarks.length === 0">
      <p>Sorry, you don't have any bookmarks.<br> To save an entry to your bookmarks, click on the bookmark icon beside
        it that looks like this: <mat-icon>
          bookmark_border</mat-icon><br>A bookmarked entry will have an icon that looks like this beside it: <mat-icon
          class='color-accent'>bookmark</mat-icon>
      </p>
    </div>
  </div>
  <div class='center'>
    <button color="danger" class="remove" *ngIf="edit" (click)="removeEntries(bookmarks)">Remove selected
      bookmarks</button>
  </div>
</div>