$grid__cols: 12;

$map-grid-props: (
        '': 0,
        '--sm': map-get($breakpoints, 'small'),
        '--md': map-get($breakpoints, 'medium'),
        '--lg': map-get($breakpoints, 'large'),
        '--xl': map-get($breakpoints, 'xlarge')
);

@mixin create-col-classes($modifier, $grid-cols, $breakpoint) {
  @include mq($breakpoint) {
    &__col#{$modifier}--offset--0 {
      margin-left: 0;
    }
    @for $i from 1 through $grid-cols {
      &__col#{$modifier}--#{$i} {
        flex-basis: (100 / ($grid-cols / $i) ) * 1%;
      }
      &__col#{$modifier}--offset--#{$i} {
        margin-left: (100 / ($grid-cols / $i) ) * 1%;
      }
    }
  }
}

@each $modifier , $breakpoint in $map-grid-props {
  @if($modifier == '') {
    $modifier: '--xs';
  }
  @include mq($breakpoint - 1, 'max-width') {
    .hidden#{$modifier}-down {
      display: none !important;
    }
  }
  @include mq($breakpoint) {
    .hidden#{$modifier}-up {
      display: none !important;
    }
  }
}

.container {
  max-width: map-get($breakpoints, 'xlarge') * 1px;
  margin: 0 auto;
  &--fluid {
    margin: 0;
    max-width: 100%;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  @each $modifier , $breakpoint in $map-grid-props {
    @include create-col-classes($modifier, $grid__cols, $breakpoint);
  }
}