<div class="background">
    <div class="gradient">
        <div class='page__content page__content--center container'>
            <h1>{{ 'mtd.pages.bookmarks.title' | translate }}</h1>
            <div class="results" [ngClass]="routeAnimationsElements">
                <mtd-entry-list *ngIf="bookmarks.length !== 0" [entries]='bookmarks' [parentEdit]="edit"></mtd-entry-list>
                <div *ngIf="bookmarks.length === 0">
                    <p>
                        {{ 'mtd.pages.bookmarks.body' | translate }}<br>
                        {{ 'mtd.pages.bookmarks.unbookmarked-instructions' | translate }} <mat-icon>bookmark_border
                        </mat-icon><br>
                        {{ 'mtd.pages.bookmarks.bookmarked-instructions' | translate }} <mat-icon class='color-accent'>
                            bookmark</mat-icon>
                    </p>
                </div>
            </div>
            <div class='center'>
                <button color="danger" class="remove" *ngIf="edit"
                    (click)="removeEntries(bookmarks)">{{ 'mtd.pages.bookmarks.remove' | translate }}</button>
            </div>
        </div>
    </div>
</div>