<div class='container margin-top-15 margin-bottom-15'>
  <div class="match__container" *ngFor="let entry of entries; last as isLast" text-wrap>
    <div class=' container__row'>
      <div class='container__col--3'>
        <button mat-icon-button aria-label="Bookmark entry"
          (click)="entry.favourited = !entry.favourited; toggleBookmark(entry)">
          <mat-icon *ngIf="!entry.favourited">bookmark_border</mat-icon>
          <mat-icon *ngIf="entry.favourited" class='color-accent'>bookmark</mat-icon>
        </button>
        <button mat-icon-button aria-label="Show More information" (click)="showModal(entry)">
          <mat-icon>list</mat-icon>
        </button>
        <button [disabled]='!entry.audio | noNullObjectValues' mat-icon-button
          aria-label="Play Audio" (click)='playDefaultAudio(entry)'>
          <mat-icon>audiotrack</mat-icon>
        </button>

      </div>

      <div class="container__col--4 match__term__container">

        <span class='match__term match__term--target'
          [ngClass]="{'langMatched': entry.type === 'L1' && shouldHighlight}">{{entry.word}}</span>

      </div>

      <div class="container__col--offset--1 container__col--3 match__term__container" (click)="showModal()">
        <span *ngIf='shouldHighlight' class="match__term match__term--translation"
          [innerHTML]="highlight(entry.definition)"></span>
        <span *ngIf='!shouldHighlight' class="match__term match__term--translation">{{entry.definition}}</span>
      </div>
      <div class="container__col--1">
      </div>
    </div>
    <!-- <div class="container__row" *ngIf="entry.optional">
      <span *ngFor='let opt of entry.optional | noNullObjectValues'>{{ Object.keys(opt)[0] }}:
        {{ Object.values(opt)[0] }}</span>
    </div>
    <div class="container__row">
      <div class="container__col--1"></div>
      <div class='entry__audio__container container__col--10'>
        <mat-form-field>
          <mat-label>Select Audio</mat-label>
          <mat-select (selectionChange)="selectAudio($event.value)">
            <mat-option *ngFor="let audio of entry.audio | noNullObjectValues" [value]='audio'>
              {{audio.speaker}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div class="container__col--1"></div>
    </div> -->
    <hr *ngIf="!isLast">
  </div>
</div>