<!-- <ion-list> -->
<div class="match__container" (click)="showModal(entry)" *ngFor="let entry of entries" text-wrap>
  <!-- <ion-checkbox color="danger" checked="false" *ngIf="edit" [(ngModel)]="entry.checked"></ion-checkbox> -->
  <!-- <ion-label> -->
  <div class="match__container--left">
    <span class='match__term--target'
      [ngClass]="{'langMatched': entry.type === 'L1' && shouldHighlight}">{{entry.word}}</span>
  </div>
  <div class="match__container--right">
    <span class="match__term--translation" [innerHTML]="highlight(entry.definition)"></span>
  </div>
  <!-- </ion-label> -->
</div>
<!-- </ion-list> -->