#lineDrawingTree {
    position: absolute;
    top: 40px;
    left: 25px;
}
#lineDrawingText {
    position: absolute;
    top: 90px;
    left: 115px;
}

#svg-tree {
    width: 90px !important;
    height: 90px !important;
}

#svg-text {
    margin-left: 20px;
    margin-top: -55px;
}