<!-- <h4 class='center-text' mat-dialog-title>Information for {{ data.entry.word }}</h4> -->
<div mat-dialog-content>
  <div class='container'>
    <div class='container__row'>
      <div class='container__col centered'>
        <h2><span>{{ data.entry.word }}</span> - <span>{{ data.entry.definition }}</span></h2>
      </div>
    </div>
    <div class="container__row" *ngIf="data.entry.optional">
      <span *ngFor='let opt of data.entry.optional | noNullObjectValues'>{{ Object.keys(opt)[0] }}:
        {{ Object.values(opt)[0] }}</span>
    </div>
  </div>
  <div class='container audio__container' *ngIf='data.entry.audio | noNullObjectValues'>
    <div class="container__row audio__header">
      <h3 class='container__col audio__header'>Audio</h3>
    </div>
    <div class='container__row audio__desc'>
      <p class='container__col audio__desc'>Click on the audio below to listen to '{{ data.entry.word }}'</p>
    </div>
    <div class='container__row audio__buttons'>
      <div *ngFor="let audio of data.entry.audio | noNullObjectValues" class='container__col centered'>
        <button class='audio__button' mat-raised-button (click)="playAudio(audio.filename)">
          {{ audio.speaker }} <mat-icon class='audio__icon'>audiotrack</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions class='center-text'>
  <button mat-raised-button cdkFocusInitial (click)='close()'>Go Back</button>
</div>